html{
	scroll-behavior: smooth;
}
.bg-blue{
	background-color: #020aab;
}

.bg-blue-2{
	background-color: #4f6df2;
}

.bg-l-blue{
	background-color: rgba(33, 150, 243, 0.2);
}

.bg-green{
	background-color: rgba(25, 216, 149, 0.2);
}

.txt-green{
	color: #19d895;
}

.txt-blue{
	color: #2196f3;
}

.txt-light{
	color: #c3c3c3;
}

.illustrations-img{
	width: 200px;
}

.icon-page, .icon-page:hover{
	font-size: 20px;
	text-decoration: none;
	color: #d3d3d3;
}

.custom-card-p{
	padding: 20px !important;
}

.icon-round{
	border-radius: 10px;
	border: 1px solid #4e55c5;
	background: #2944b5;
	font-size: 18px;
	font-weight: bold;
	line-height: 25px;
	text-align: center;
	width: 50px;
	min-width: 50px;
	height: 50px;
	padding: 10px;
}

.icon-round-2{
	border-radius: 10px;
	border: 1px solid #d9d9d9;
	background: #f2f2f2;
	font-size: 18px;
	font-weight: bold;
	line-height: 25px;
	text-align: center;
	width: 50px;
	min-width: 50px;
	height: 50px;
	padding: 10px;
}

.icon-card p{
	font-size: 12px;
	margin: 5px 0px !important;
}

.btn-view-all{
	cursor:pointer;
    display: inline-block;
	background-color: #f9f9f9;
    color: #d5d5d5;
	border-color: #d5d5d5;
    border-radius: 50%;
    font-size: 20px;
    line-height: 20px;
    padding: 10px;
    width: 40px;
    min-width: 40px;
    height: 40px;
}

.btn-view-transaction{
	background-color: #f1f3fa !important;
	color: #717a90 !important;
	font-size: 12px;
}

.dot{
	font-size: 4px !important;
	margin: 3px;
}

.icon-transaksi{
	background-color: #f5f4f8;
	border-radius: 10px;
	color: #717a90;
	font-size: 20px;
	text-align: center;
	line-height: 30px;
	padding: 5px;
	width: 40px;
	min-width: 40px;
	height: 40px;
}

.kode_transaksi{
	margin: 0;
	color: #636a7b;
}

.des-transaksi{
	margin: 0;
	color: #a9aebc;
	font-size: 12px;
}

.w-transaksi{
	margin: 0;
	color: #a9aebc;
	font-size: 10px;
}

.btn-filter-chart, .btn-filter-chart:hover{
	border: 1px solid #ced4da;
	color: #435df2;
	font-weight: bold;
}

.dropdown-toggle:after{
	color: #435df2 !important;
}

.setting-btn{
	background-color: #e5e9f9;
	color: #415af1;
	border: 0;
	border-radius: 5px;
	font-size: 14px;
	padding: 8px 10px;
	font-weight: bold;
}

.btn-simpan{
	background-color: #2d4fef;
	color: #fff;
	font-weight: bold;
}

.btn-simpan:hover{
	color: #fff;
}

.error-notice{
	margin-top: 5px;
	margin-bottom: -10px;
}

.error-notice label{
	color: #ff6258;
	font-size: 12px !important;
}